<!doctype html>
<html lang="en">
      <head>
	<meta charset="utf-8">
	<title>Default HTML template</title>
      </head>
      <body>
	<h1>HTML default template</h1>
	<p>Placeholder paragraph</p>
      </body>
</html>
